<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    <link rel="stylesheet" href="/css/otherpageNav.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header class="header-utama">
        <!-- Header utama -->
        <div class="main-header">
            <div class="logo-wrapper">
                <a href="/index.html"><img src="/assets/logo.jpg" alt="Logo-Agoy-Jaktim"></a>
            </div>
            <div class="search-kolom">
                <input type="text" placeholder="  CARI APA DI AGOY SHOP?">
            </div>
            <div class="username-greating">
                <img src="/assets/profile.png" alt="profile-user" class="profile">
                <p>Hi, <span id="username"></span></p>
            </div>
            <nav class="navbar-header">
                <div class="navbar-mobile">
                    <div class="hamburger-menu">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                      </div>
                    <ul class="menu">
                        <li class="nav-item"><a href="/component/brand.html">BRAND</a></li>
                        <li class="nav-item"><a href="/component/gender.html">GENDER</a></li>
                        <li class="nav-item"><a href="/component/olahraga.html">OLAHRAGA</a></li>
                        <li class="nav-item"><a href="/component/sneakers.html">SNEAKERS</a></li>
                        <li class="nav-item"><a href="/component/formal.html">FORMAL</a></li>
                        <div class="close-menu"></div>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Navigasi Bar -->
        <nav>
            <div class="navbar-wrapper">
                <ul>
                    <li class="nav-item"><a href="/component/brand.html">BRAND</a></li>
                    <li class="nav-item"><a href="/component/gender.html">GENDER</a></li>
                    <li class="nav-item"><a href="/component/olahraga.html">OLAHRAGA</a></li>
                    <li class="nav-item"><a href="/component/sneakers.html">SNEAKERS</a></li>
                    <li class="nav-item"><a href="/component/formal.html">FORMAL</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper-catalog">
        <h2>Sneakers Running</h2>
        <hr>
        <div class="card-product">
            <div class="products">
                <div class="card" data-name="p-1">
                    <img src="/assets/product-1.png" alt="sepatu-1">
                    <h3>Adinda Reborn</h3>
                    <div class="price">Rp.399.000</div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="wrapper-catalog">
        <h2>Sneakers Sekolah</h2>
        <hr>
        <div class="card-product">
            <div class="products">
                <div class="card" data-name="p-2">
                    <img src="/assets/product-2.jpg" alt="sepatu-2">
                    <h3>Copet Style</h3>
                    <div class="price">Rp.699.000</div>
                </div>
            </div>
        </div>
    </div>
    <div class="products-preview">
        <div class="preview" data-target="p-1">
            <i class="fas fa-times"></i>
            <div class="wrapper-preview-item">
                <div class="img-product">
                    <img src="/assets/product-1.png" alt="">
                </div>
                <div class="content-preview">
                    <h3>Adinda Reborn</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>( 250 )</span>
                    </div>
                    <p>Sepatu Ini pernah dipake oleh yoga saat melawan banci di taman lawang</p>
                    <div class="price">Rp.399.000</div>
                    <div class="payment-wrapper">
                        <p class="tittle-payment">Bisa dipesan melalui</p>
                        <div class="payment-content">
                            <div class="payment-item">
                                <a href="https://api.whatsapp.com/send?phone=6281912510706&text=Hai%2C%20Saya%20telah%20melihat%20website%20katalog%20anda%2C%20Apakah%20produk%20....tersedia%3F" target="_blank">
                                    <img src="/assets/wa.png" alt="whatsapp">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://instagram.com/katalogsepatupandaan?igshid=MzRlODBiNWFlZA==" target="_blank">
                                    <img src="/assets/ig.png" alt="">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://tokopedia.com/spotec/spotec-sepatu-running-venture-biru-tua-hijau-cerah-39?utm_source=salinlink&utm_medium=share&utm_campaign=PDP-148585261-7699098753-250623-gFZoml" target="_blank">
                                    <img src="/assets/tokopedia.png" alt="tokped">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://shp.ee/8abvgm2" target="_blank">
                                    <img src="/assets/shopee.jpeg" alt="tokped">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview" data-target="p-2">
            <i class="fas fa-times"></i>
            <div class="wrapper-preview-item">
                <div class="img-product">
                    <img src="/assets/product-2.jpg" alt="">
                </div>
                <div class="content-preview">
                    <h3>Copet Style</h3>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span>( 250 )</span>
                    </div>
                    <p>Membantu lari anda lebih kencang 10x lipat saat sedang mencopet</p>
                    <div class="price">Rp.699.000</div>
                    <div class="payment-wrapper">
                        <p class="tittle-payment">Bisa dipesan melalui</p>
                        <div class="payment-content">
                            <div class="payment-item">
                                <a href="https://api.whatsapp.com/send?phone=6281912510706&text=Hai%2C%20Saya%20telah%20melihat%20website%20katalog%20anda%2C%20Apakah%20produk%20....tersedia%3F" target="_blank">
                                    <img src="/assets/wa.png" alt="whatsapp">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://instagram.com/katalogsepatupandaan?igshid=MzRlODBiNWFlZA==" target="_blank">
                                    <img src="/assets/ig.png" alt="">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://tokopedia.com/spotec/spotec-sepatu-running-venture-biru-tua-hijau-cerah-39?utm_source=salinlink&utm_medium=share&utm_campaign=PDP-148585261-7699098753-250623-gFZoml" target="_blank">
                                    <img src="/assets/tokopedia.png" alt="tokped">
                                </a>
                            </div>
                            <div class="payment-item">
                                <a href="https://shp.ee/8abvgm2" target="_blank">
                                    <img src="/assets/shopee.jpeg" alt="tokped">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script-navbar.js"></script>
</body>
<footer>
    <div class="footer-main">
        <div class="footer-main-content">
            <div class="section-about-company">
                <div class="tittle">Tentang perusahan</div>
                <ul>
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Toko Kami</a></li>
                    <li><a href="#">Syarat dan ketentuan</a></li>
                    <li><a href="#">Kebijakan privasi</a></li>
                    <li><a href="#">Hak Cipta</a></li>
                    <li><a href="#">Kontak Kami</a></li>
                </ul>
            </div>
            <div class="section-Help">
                <div class="tittle">Bantuan</div>
                <ul>
                    <li><a href="#">Lacak Pesanan</a></li>
                    <li><a href="#">Cara membeli</a></li>
                    <li><a href="#">Cara membayar</a></li>
                    <li><a href="#">Faq</a></li>
                    <li><a href="#">Cara pengembalian</a></li>
                </ul>
            </div>
            <div class="Tautan-Cepat">
                <div class="tittle">Tautan Cepat</div>
                <ul>
                    <li><a href="/component/brand.html">Brand</a></li>
                    <li><a href="/component/gender.html">Gender</a></li>
                    <li><a href="/component/olahraga.html">OLahraga</a></li>
                    <li><a href="/component/sneakers.html">Sneakers</a></li>
                    <li><a href="/component/formal.html">Formal</a></li>
                </ul>
            </div>
            <div class="need-help">
                <div class="tittle">Butuh Bantuan?</div>
                <ul>
                    <li><a href="#">Tentang Kami</a></li>
                </ul>
            </div>
            <div class="find-me">
                <div class="tittle">TEMUKAN KAMI DI MEDIA SOSIAL</div>
                <div class="img-sosmed">
                    <div class="twitter">
                        <a href="https://twitter.com/elonmusk" target="_blank"><img src="/assets/logo-twitter.png" alt="Twitter"></a>
                    </div>
                    <div class="instagram">
                        <a href="https://instagram.com/katalogsepatupandaan?igshid=MzRlODBiNWFlZA==" target="_blank"><img src="/assets/ig.png" alt="instagram"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sosmed">
        <div class="sosmed-content">
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-bca.png" alt="BCA">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-bni.png" alt="BNI">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-bni.png" alt="MANDIRI">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-gopay.png" alt="GOPAY">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-shopee.png" alt="SHOPEE">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-jne.png" alt="JNE">
                </div>
            </div>
            <div class="sosmed-item">
                <div class="sosmed-img">
                    <img src="/assets/partner-gosend.png" alt="GOSEND">
                </div>
            </div>
        </div>
    </div>
    <div class="footer-text">
        <p>@Created By Agoy Jakbar Indonesia,all right reserved.</p>
    </div>
</footer>
</html>